:root {
  --primary-color: #4169e1;
  --secondary-color: #87cefa;
  --white: #fff;
  --grey: #d2d2d2;
  --dark: #2f313a;
  --app-bg: #e4f5ff;
  --primary-font: "raleway", Arial, Helvetica, sans-serif;
  --primary-font-md: "raleway Medium", Arial, Helvetica, sans-serif;
  --primary-font-sb: "raleway regular", Arial, Helvetica, sans-serif;
  --secondary-font: "lobster", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: Estedad;
  background-color: var(--app-bg);
  overflow-x: hidden;
}

/*

-- Reset Style --

*/

a {
  text-decoration: none;
}

/*

-- Helper Class --

*/

/*

-- Component --

*/

.btn {
  border-radius: 10rem;
  color: var(--white);
  background-color: var(--dark);
  width: 18rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--primary-font-md);
  transition: all 250ms ease-in;
}

/*
<---- App Style ---->
*/

/*
<---- Header ---->
*/

.container-header {
  padding: 10px 25px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

.container-iconNav {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logoHeader {
  overflow: hidden;
}

.navIconMob {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.navbar {
  display: none;
}

.navItem {
  color: rgb(87, 87, 87);
  transition: 0.4s all;
  margin: 0 7px;
}

.navItem:hover {
  color: green;
}

.buttonNav {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: rgba(34, 139, 34, 0.692);
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.buttonNav > span:nth-of-type(1) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.buttonNav > span:nth-of-type(2) {
  font-size: 1.5rem;
}

/*
<---- Main ---->
*/

/*
<---- Header Home ---->
*/

.container-headerHome {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.bgUniver {
  background: url(/images/image2.jpg) no-repeat center;
  background-size: auto;
  background-size: cover;
  width: 100%;
  height: 85vh;
  filter: opacity(0.4);
  box-shadow: inset 0 -83px 57px #fff;
  position: absolute;
  left: 0;
  z-index: -1;
}

.figore_logo {
  width: 180px;
  margin-top: 8rem;
}

.titleSite {
  font-size: 4.5rem;
  font-weight: 900;
}

.paragraph-headerHome {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.container__headerHome-btn {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.headerHome-btn {
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: forestgreen;
  padding: 0.8rem 0;
  color: #fff;
  border-radius: 10px;
}

.headerHome-btn--link {
  color: #fff;
}


/*
<---- Body Home ---->
*/

.css-1qsxih2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.css-zitybv {
  margin-top: 32px;
  margin-bottom: 32px;
}

.alert-download {
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px -10px forestgreen;
}

.icon-alert {
  color: forestgreen;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 10px;
}

.container-downloadApp {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-1d3bbye {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.css-1ukeo96 {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0px;
  flex-basis: 100%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

.box-downloadApp {
  box-shadow: 0 0 20px -10px #000000b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 300px;
  transition: 0.5s all;
}

.figore_logo-box {
  width: 150px;
  opacity: 90%;
}

.figore_logo-igap {
  width: 130px;
}

.btnSupport {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  background-color: forestgreen;
  color: #fff;
  border-radius: 10px;
  width: 270px;
}

.iconBtnSupport {
  display: flex;
  align-items: center;
  padding: 0 7px;
}

.container-allUserLink {
  margin-top: 4rem;
  padding: 20px 0;
}

.title-userLink {
  text-align: center;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}

.container-allUserLink > div:nth-of-type(1),
.container-allUserLink > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 15px 0;
}

.container-userLinks {
  padding: 20px;
  margin: 30px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
}

.userLinks {
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
}

.Box-userLinks {
  height: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Box-userLinks > a {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px -10px #000000b2;
  transition: 0.7s all;
  padding: 10px;
  overflow: hidden;
}

.userLink-HomePAge {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(-45deg);
}

.userLink-HomePAge > span:nth-of-type(1) {
  font-size: 3.5rem;
}

.userLink-HomePAge > span {
  color: #000;
  display: flex;
  padding: 5px;
  margin: 5px;
  transition: 0.7s all;
}

.titleUserLink {
  font-size: 0.8rem !important;
}

.userLink-HomePAge > span:nth-of-type(2) {
  font-family: nastaliq;
  font-size: 1.8rem;
}

.container-allUserLink > div:nth-of-type(3) {
  justify-content: space-around;
}

/*
<---- Footer ---->
*/

.footer {
  background-color: #f5f5f5;
  padding: 10px;
}

.css-xs25ei {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0px;
  flex-basis: 100%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}

.titleFooter {
  font-family: nastaliq;
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.divAddress > span {
  color: var(--blue);
}

.divAddress > p {
  padding: 10px;
  text-align: justify;
}

.Confirm-p {
  font-size: 1rem;
  color: gray;
  text-align: justify;
  padding: 10px;
}

.divAddress > a {
  display: block;
}

.itemLinkFooter {
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px;
  transition: 0.5s all;
  cursor: pointer;
  color: gray;
}

.divCode {
  display: flex;
  align-items: center;
}

.divCode > span {
  color: var(--blue);
}

.footerLinks {
  display: flex;
  flex-direction: column;
}

.css-vx7824 {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0px;
  flex-basis: 100%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

.copyRightFooter {
  text-align: center;
  background-color: #fff;
  font-size: 0.9rem;
  color: gray;
  padding: 10px;
}

