@font-face {
    font-family: "Estedad Light";
    src: url("../fonts/Estedad/woff2/Estedad-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad/woff2/Estedad-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Estedad Medium";
    src: url("../fonts/Estedad/woff2/Estedad-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Estedad Bold";
    src: url("../fonts/Estedad/woff2/Estedad-Bold.woff2") format("woff2");
}
