@media (max-width: 380px) {
}

@media (min-width: 576px) {
  
    .css-1qsxih2 {
      padding-left: 24px;
      padding-right: 24px;
    }

    .css-1ukeo96 {
      flex-basis: 100%;
      -moz-box-flex: 0;
      flex-grow: 0;
      max-width: 100%;
    }
}

@media (min-width: 768px) {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


    .navIconMob {
      display: none;
  }

  .navItem {
    font-size: 1rem;
  }

  .css-xs25ei {
    flex-basis: 100%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }

  .css-vx7824 {
    flex-basis: 100%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }

}

@media (min-width: 838px) {
  .navItem {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {

  .navItem {
    font-size: 1.4rem;
    margin: 0 12px;
  }

  .buttonNav > span:nth-of-type(2) {
    font-size: 1.5rem;
  }

  .css-1ukeo96 {
    flex-basis: 50%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }

  .css-xs25ei {
    flex-basis: 100%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }

  .css-vx7824 {
    flex-basis: 100%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }

}

@media (min-width: 1200px) {
  .navItem {
    font-size: 1.7rem;
    margin: 0 18px;
  }

  .buttonNav > span:nth-of-type(2) {
    font-size: 1.5rem;
  }

  .css-1qsxih2 {
    max-width: 1200px;
  }

  .css-1ukeo96 {
    flex-basis: 50%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }

  .css-xs25ei {
    flex-basis: 33.3333%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
  }

  .fixStyleFooter {
    align-items: center;
  }

  .css-vx7824 {
    flex-basis: 33.3333%;
    -moz-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
  }

}
